*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.main-box{
	width:1140px;
	padding:15px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:50px auto;
}
.sub-box{
	height:700px;
	width:500px;
	background-color:lightgray;
	margin:10px;
}